body {
    margin: 1% 2% 2% 2%;
    background: #D0E3C4;
    background: linear-gradient(180deg, #D0E3C4 20%, rgb(255, 255, 255) 100%);
    font-family: Helvetica, Arial, sans-serif;
}

header {
    background-color: #D0E3C4;
}

#bigNav{
    display: none;
} 

.nav-link {
    padding: 1%;
    margin: 1%;
}

.dropdown-item.active {
    background-color: #1f36126b;
}

.hamMenu{
    text-align: center;
    width: 94vw;
}

h3 {
    color: #1f3612;
}

div {
    text-align: center;
}

section {
    margin: 3%;
    padding: 1%;
}

.anna{
    text-decoration: none;
    color: #000;
}

.anna:hover{
    color: #1f3612;
    font-weight: bold;
}

#blog{
    display: block;
    width: 90vw;
    margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
}

footer {
    width: 90%;
    clear: both;
    text-align: center;
    text-transform: uppercase;
    border: solid 1px black;
    margin: auto;
}

.styledLink{
    text-decoration: none;
    color: #000;
}

.styledLink:hover{
    text-decoration: underline;
    color: #1f3612;
    font-weight: bold;
}

#whoAmI {
    margin: 3%;
}

a:active {
    background-color: #1f36126b !important;
}

.center {
    display: flex;
    justify-content: center;
}

.topElement {
    margin-top: 20%;
}

#indexAnna{
    text-align: center;
    margin: 5%;
}

.rotate{
    width: 85%;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
    #bigNav{
        display: flex;
    }
    #smallNav{
        display: none;
    }
    .topElement {
        margin-top: 5%;
    }
    #blog{
        width: 50vw;
    }
    footer{
        width: 50vw;
    }
    .carouselDog{
        width: 40%; 
        height:40%;
        margin: 0 auto;
    }
    .rotate{
        width: 30%;
    }
}

@media (min-width: 992px) {
    .topElement {
        margin-top: 1%;
    }
    div {
        text-align: left;
    }
    .carouselDog{
        width: 20%; 
        height:20%; 
        margin: 0;;
    }
}